.contact{
    background-image: url(../../../images/appointmentBG.png);
    position: relative;
    z-index: 1;
}
.contact ::before{
    position: absolute;
    content:"";
    top: 0;
    width: 100%;
    background: black;
    opacity: .9;
    z-index: -1;

}